mount/nodered/.root_flows.json.backup
[{"id":"99c2a14e.d1b2f","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"661111f8.5aa93","type":"MySQLdatabase","z":"","name":"","host":"db","port":"3307","db":"db_online_hack_hack","tz":""},{"id":"16a932f.93712cd","type":"inject","z":"99c2a14e.d1b2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":80,"wires":[["d86adcde.48b85","395644c9.5e330c"]]},{"id":"d86adcde.48b85","type":"debug","z":"99c2a14e.d1b2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":200,"wires":[]},{"id":"395644c9.5e330c","type":"mysql","z":"99c2a14e.d1b2f","mydb":"661111f8.5aa93","name":"","x":510,"y":280,"wires":[[]]}]